---
title: "Document Viewer";
description: "Displays content for a specific document based on its slug.";

import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const docs = import.meta.glob("/src/content/docs/*.md");
  const paths = Object.keys(docs).map((path) => {
    const slug = path.replace("/src/content/docs/", "").replace(".md", "");
    return { params: { slug } };
  });

  return paths; // Return the array directly
}

export async function get({ params }) {
  const doc = await getEntry("docs", params.slug);
  return { props: { doc } };
}
---

<Layout>
  <article class="prose mx-auto">
    {
      doc && (
        <>
          <h1>{doc.data.title}</h1>
          <p class="text-gray-500">
            {new Date(doc.data.pubDate).toLocaleDateString()}
          </p>
          {doc.Content && <div>{doc.Content()}</div>}
        </>
      )
    }
    {
      !doc && (
        <p class="text-red-500">
          Document not found. Please check the URL and try again.
        </p>
      )
    }
  </article>
</Layout>
