---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto py-8">
    <section class="text-center mb-12">
      <h2 class="text-4xl font-bold mb-4">Games</h2>
      <p class="text-gray-600">
        Explore our collection of interactive games below.
      </p>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Bad Ghost</h3>
        <p class="text-gray-600 mb-4">
          Help the ghost navigate through obstacles!
        </p>
        <a
          href="/bits/badghost/index.html"
          class="text-blue-500 hover:underline">Play Bad Ghost</a
        >
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Chaos Pendulum</h3>
        <p class="text-gray-600 mb-4">
          Experience the chaotic motion of a pendulum.
        </p>
        <a
          href="/bits/chaos-pendulum/index.html"
          class="text-blue-500 hover:underline">Play Chaos Pendulum</a
        >
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Chaos Pendulum Graph</h3>
        <p class="text-gray-600 mb-4">
          Visualize the graph of a chaotic pendulum.
        </p>
        <a
          href="/bits/chaos-pendulum-graph/index.html"
          class="text-blue-500 hover:underline">Play Chaos Pendulum Graph</a
        >
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Electro Ball</h3>
        <p class="text-gray-600 mb-4">Control the ball with electric forces.</p>
        <a
          href="/bits/electro-ball/index.html"
          class="text-blue-500 hover:underline">Play Electro Ball</a
        >
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Particle Party</h3>
        <p class="text-gray-600 mb-4">
          Enjoy the mesmerizing particle effects.
        </p>
        <a
          href="/bits/particleparty/index.html"
          class="text-blue-500 hover:underline">Play Particle Party</a
        >
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-2">Tri Tunnel</h3>
        <p class="text-gray-600 mb-4">
          Navigate through the triangular tunnel.
        </p>
        <a
          href="/bits/tritunnel/index.html"
          class="text-blue-500 hover:underline">Play Tri Tunnel</a
        >
      </div>
    </section>
  </main>
</Layout>
